li{
    /* background-color: rgb(209, 238, 245); */
    background-image: "./Sesame's Photo.JPG" ;   

}
div.Introduction{
    border: solid 1px;
    border-style: groove;
    margin: initial;
    padding: inherit;
    text-align: center;
    
}

body{
    background-image: url("Sesame's Photo.JPG") ;
    background-repeat: repeat;
    background-attachment: fixed;
    color: rgb(240, 236, 243);
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}